<?xml version="1.0"?>
<!--
/**
 *  Magebase
 *
 *  @category    Magebase
 *  @package     Magebase_Deliverydate
 *  @author      Tom Lin <tom@lero9.co.nz>
 *  @copyright   Copyright (c) 2016 Magebase. (http://magebase.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:
etc/config.xsd">
    <default>
        <delivery_date>
            <general>
                <deliverydate>
                	1
                </deliverydate>
                <allow_weekend>
                	0
                </allow_weekend>
            </general>
        </delivery_date>
    </default>
</config>
